{% extends 'base.html.twig' %}

{% block title %}connexion
{% endblock %}
{% block nav %}{% endblock %}
{% block body %}
	<form method="post">
		<fieldset>
			<legend>Connectez vous</legend>

			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Bonjour
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Déconnexion</a>
				</div>
			{% else %}
				<div class="row">
					<div class="col-12 mt-3">
						<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus placeholder="pseudo">
					</div>
					<div class="col-12 mt-3 mb-3">
						<input type="password" name="password" id="inputPassword" class="form-control" required placeholder="mot de passe">
					</div>
				</div>
				<button class="btn btn-success" type="submit">
					Connexion
				</button>

			{% endif %}
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		</fieldset>
	</form>
{% endblock %}
