<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Aurcy-sion
			{% endblock %}
		</title>

		{% block stylesheets %}
			<link rel="stylesheet" href="../css/front/style.css">
		{% endblock %}

	</head>
	<body>
		{% block header %}
			<header class="navbar">
				<a href=""><img src="{{ asset('uploads/img/logo-628deac3e965c.png')}}" alt=""></a>
				<nav class="navbar-container ">
					<a href="{{ path('app_home_front')}}">Acceuil</a>

					<a href="{{ path('app_prestation') }}">Prestations</a>

					<a href="">A propos</a>
					<a href="">Contact</a>
				</nav>
			</header>
		{% endblock %}
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}

	</body>
</html>
