* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background: red !important; */
}

.navbar {
    display: flex;
    justify-content: space-around;
    opacity: 0.95;
    /* border: 1px solid red; */
    position: relative;
    z-index: 5;
    box-shadow: 5px 0px 10px 0px #aaa;
    height: 64px;

}

.navbar-container {
    display: flex;
    width: 40vw;
    /* border: 1px solid yellow; */
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 1.3em;
}

a:hover {
    color: #C70039;
}

img {
    width: 20%;
    height: 70px;
    object-fit: cover;
    position: absolute;
    /* font-size: 5rem; */
    /* top: 5%; */
    /* border: 1px solid yellow; */
}