{% extends 'base.html.twig' %}

{% block title %}Page admin
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<h1>Ma page admin</h1>
	<h2>{{ app.user.username }}
		Bonjour tu es un admin</h2>
	<a class="btn btn-primary mt-3" href="{{ path('app_user_edit', {'id': app.user.id}) }}">Modifier mon compte</a>

	<a class="btn btn-info mt-3" href="{{ path('app_user_index') }}">Voir la liste des utilisateurs inscrit</a>


{% endblock %}
