{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil
{% endblock %}

{% block body %}
	<h1>Ma zone admin</h1>

	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

{% endblock %}
