{% extends 'base.html.twig' %}

{% block title %}Page membre
{% endblock %}

{% block body %}
	<h1>Mon espace membre</h1>
	<h2>{{ app.user.username }}
		voici ton espace personnel</h2>
	{# <a class="btn btn-primary" href="{{ path('app_user_edit', {'id': app.user.id}) }}">Modifier mon compte</a> #}

	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

{% endblock %}
