{% extends './layouts/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<section class="prestation">
		<article>
			<h2>Titre de la prestation</h2>
			<div class="metadata">Ecrit le 24/05/2022 à 15:40 dans la categorie anniversaire</div>
			<div>
				<img src="http://placehold.it/350x150" alt="">
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, ipsa?
				</p>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores maxime doloribus nobis deleniti sequi eveniet quas voluptate quia accusamus ratione repellat consequatur, at quisquam consequuntur? Aspernatur maxime ipsam, assumenda nobis fuga in. Pariatur numquam odit ex, minus, facilis rerum exercitationem temporibus repellendus, saepe corrupti soluta qui optio deleniti delectus eligendi.
				</p>
				<a href="{{ path('prestation_show')}}">Lire la suite</a>

			</div>
		</article>

		<article>
			<h2>Titre de la prestation</h2>
			<div class="metadata">Ecrit le 24/05/2022 à 15:40 dans la categorie anniversaire</div>
			<div>
				<img src="http://placehold.it/350x150" alt="">

				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, ipsa?
				</p>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores maxime doloribus nobis deleniti sequi eveniet quas voluptate quia accusamus ratione repellat consequatur, at quisquam consequuntur? Aspernatur maxime ipsam, assumenda nobis fuga in. Pariatur numquam odit ex, minus, facilis rerum exercitationem temporibus repellendus, saepe corrupti soluta qui optio deleniti delectus eligendi.
				</p>
				<a href="{{ path('prestation_show')}}">Lire la suite</a>

			</div>
		</article>


		<article>
			<h2>Titre de la prestation</h2>
			<div class="metadata">Ecrit le 24/05/2022 à 15:40 dans la categorie anniversaire</div>
			<div class="content">
				<img src="http://placehold.it/350x150" alt="">

				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, ipsa?
				</p>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores maxime doloribus nobis deleniti sequi eveniet quas voluptate quia accusamus ratione repellat consequatur, at quisquam consequuntur? Aspernatur maxime ipsam, assumenda nobis fuga in. Pariatur numquam odit ex, minus, facilis rerum exercitationem temporibus repellendus, saepe corrupti soluta qui optio deleniti delectus eligendi.
				</p>
				<a href="{{ path('prestation_show')}}">Lire la suite</a>
			</div>
		</article>

	</section>

{% endblock %}
