{% extends './layouts/base.html.twig' %}

{% block body %}
	<article>
		<h2>Titre de la prestation</h2>
		<div class="metadata">Ecrit le 24/05/2022 à 15:40 dans la categorie anniversaire</div>
		<div>
			<img src="http://placehold.it/350x150" alt="">
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, ipsa?
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores maxime doloribus nobis deleniti sequi eveniet quas voluptate quia accusamus ratione repellat consequatur, at quisquam consequuntur? Aspernatur maxime ipsam, assumenda nobis fuga in. Pariatur numquam odit ex, minus, facilis rerum exercitationem temporibus repellendus, saepe corrupti soluta qui optio deleniti delectus eligendi.
			</p>
			<hr>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat exercitationem deleniti praesentium laudantium minus perferendis dolores voluptate inventore ducimus, autem, in, a nulla reprehenderit itaque vitae voluptatibus delectus. A ipsam adipisci illum quas, quos incidunt optio harum. Natus dolorum doloremque voluptas itaque, commodi sapiente quos, laboriosam repellat ad nam aspernatur, rerum praesentium reiciendis velit eligendi explicabo sit magni ut? Sint.
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat exercitationem deleniti praesentium laudantium minus perferendis dolores voluptate inventore ducimus, autem, in, a nulla reprehenderit itaque vitae voluptatibus delectus. A ipsam adipisci illum quas, quos incidunt optio harum. Natus dolorum doloremque voluptas itaque, commodi sapiente quos, laboriosam repellat ad nam aspernatur, rerum praesentium reiciendis velit eligendi explicabo sit magni ut? Sint.
			</p>

		</div>
	</article>


{% endblock %}
