<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Aurcy-sion
			{% endblock %}
		</title>

		{% block stylesheets %}
			<link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
			<link
			rel="stylesheet" href="/css/style.css">
		{# {{ encore_entry_link_tags('app') }} #}
		{% endblock %}
	</head>
	<body>

		<nav class="navbar navbar-light bg-light">
			{% block nav %}

				{# <a class="logo" href="{{ path('home') }}"><img src="{{ asset('uploads/img/logo-628deac3e965c.png')}}" width="50" height="50" alt="logo"></a> #}
				<a class="navbar-brand" href="{{ path('app_presta_admin_index') }}">Prestations</a>

				<a class="navbar-brand" href="{{ path('home') }}">Devis</a>
				<a class="navbar-brand" href="{{ path('home') }}">Location du Materiel</a>
				<a class="navbar-brand" href="{{ path('home') }}">Calendrier</a>

				{% if app.user %}
					{# Si l'utilisateur est authentifié #}
					<a class="btn btn-outline-info" href="{{ path('membre') }}">Page membre</a>

					{% if is_granted('ROLE_ADMIN') %}
						{# Si l'utilisateur est authentifié et qu'il est super admin #}
						<a class="btn btn-outline-warning" href="{{ path('admin') }}">Page admin</a>

					{% endif %}

					<div>
						Bonjour
						{{ app.user.username }}
						<a class="btn btn-sm btn-danger" href="{{ path('app_logout') }}">Déconnexion</a>
					</div>
				{% else %}
					<div>
						<a class="btn btn-sm btn-secondaire" href="{{ path('app_login') }}">Se connecter</a>
					</div>
				{% endif %}
			{% endblock %}
		</nav>

		<div class="container">
			{% if message is defined %}
				<div class="alert alert-danger">
					{{ message }}
				</div>
			{% endif %}
			{% block body %}{% endblock %}
		</div>

		{# {% block body %}{% endblock %} #}
		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
			<script src="/js/script.js"></script>
			{# {{ encore_entry_script_tags('app') }} #}
		{% endblock %}

	</body>
</html>
