{% extends 'base.html.twig' %}

{% block title %}Edit Prestation{% endblock %}

{% block body %}
    <h1>Edit Prestation</h1>

    {{ include('presta_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_presta_admin_index') }}">back to list</a>

    {{ include('presta_admin/_delete_form.html.twig') }}
{% endblock %}
