{% extends 'base.html.twig' %}

{% block title %}Prestation index
{% endblock %}

{% block body %}
	<h1>Prestation index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Content</th>
				<th>Image</th>
				<th>CreateAt</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for prestation in prestations %}
				<tr>
					<td>{{ prestation.id }}</td>
					<td>{{ prestation.title }}</td>
					<td>{{ prestation.content }}</td>
					<td>{{ prestation.fileImages }}</td>

					<td>{{ prestation.createAt ? prestation.createAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_presta_admin_show', {'id': prestation.id}) }}">show</a>
						<a href="{{ path('app_presta_admin_edit', {'id': prestation.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_presta_admin_new') }}">Create new</a>
{% endblock %}
