{% extends 'base.html.twig' %}

{% block title %}New Prestation{% endblock %}

{% block body %}
    <h1>Create new Prestation</h1>

    {{ include('presta_admin/_form.html.twig') }}

    <a href="{{ path('app_presta_admin_index') }}">back to list</a>
{% endblock %}
