{% extends 'base.html.twig' %}

{% block title %}Prestation{% endblock %}

{% block body %}
    <h1>Prestation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prestation.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ prestation.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ prestation.content }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ prestation.image }}</td>
            </tr>
            <tr>
                <th>CreateAt</th>
                <td>{{ prestation.createAt ? prestation.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ prestation.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_presta_admin_index') }}">back to list</a>

    <a href="{{ path('app_presta_admin_edit', {'id': prestation.id}) }}">edit</a>

    {{ include('presta_admin/_delete_form.html.twig') }}
{% endblock %}
