<form
	method="post" action="{{ path('app_user_supprimer', {'id': user.id}) }}" onsubmit="return confirm('Es-tu sûr de supprimer cet utilisateur?');">

	{# <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}"> #}
	<input type="hidden" name="_token" value="{{ csrf_token('supprimer' ~ user.id) }}">


	<button class="btn btn-sm btn-danger">Supprimer</button>


</form>
