{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}
	<h1>Create new User</h1>

	{{ include('user/_form.html.twig') }}

	<a class="btn btn-outline-info" href="{{ path('membre') }}">Page membre</a>

{% endblock %}
