{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
<h1>Inscription</h1>
<fieldset>
	<legend>Inscrivez vous</legend>
	{{ form_start(form, {'attr': {'id': 'app_user_edit'}}) }}
	<div class="row">
		<div class="col-12">
			{{ form_label(form.username) }}
			{{ form_widget(form.username) }}
		</div>
		<div class="col-12">
			{{ form_label(form.roles) }}
			{{ form_widget(form.roles) }}
		</div>

		<div class="col-12">
			{{ form_label(form.password) }}
			{{ form_widget(form.password) }}
		</div>
		<div class="col-12">
			<label for="verifpass">Confirmer le mot de passe</label>
			<input type="password" id="verifpass" required>
		</div>
	</div>
	<button class="btn btn-success">{{ button_label|default('S\'inscrire') }}</button>
		{{ form_end(form) }}
</fieldset>
{# {{ include('user/_form.html.twig') }} #}
	<a class="btn btn-info" href="{{ path('home') }}">Page d'accueil</a>
{% endblock %}
