{% extends 'base.html.twig' %}

{% block title %}Utilisateur
{% endblock %}

{% block body %}
	<h1>Utilisateur</h1>


	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ user.id }}</td>
			</tr>
			<tr>
				<th>Username</th>
				<td>{{ user.username }}</td>
			</tr>
			<tr>
				<th>Roles</th>
				<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
			</tr>
			<tr>
				<th>Password</th>
				<td>{{ user.password }}</td>
			</tr>
		</tbody>
	</table>

	<a class="btn btn-success" href="{{ path('app_user_update', {'id': user.id}) }}">Modifier</a>

	<a class="btn btn-outline-info" href="{{ path('membre') }}">Page membre</a>

	{{ include('user/_supprimer_form.html.twig') }}

{% endblock %}
