<form method="post" action="{{ path('app_file_image_delete', {'id': file_image.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ file_image.id) }}">
    <button class="btn">Delete</button>
</form>
