{% extends 'base.html.twig' %}

{% block title %}Edit FileImage{% endblock %}

{% block body %}
    <h1>Edit FileImage</h1>

    {{ include('file_image/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_file_image_index') }}">back to list</a>

    {{ include('file_image/_delete_form.html.twig') }}
{% endblock %}
