{% extends 'base.html.twig' %}

{% block title %}FileImage index
{% endblock %}

{% block body %}
	<h1>FileImage index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Filename</th>
				<th>Content</th>
			</tr>
		</thead>
		<tbody>
			{% for file_image in file_images %}
				<tr>
					<td>{{ file_image.id }}</td>
					<td>{{ file_image.filename }}</td>
					<td>{{ file_image.content }}</td>
					<td>
						<a href="{{ path('app_file_image_show', {'id': file_image.id}) }}">show</a>
						<a href="{{ path('app_file_image_edit', {'id': file_image.id}) }}">edit</a>
					</td>
				</tr>
				{% else %}

			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_file_image_new') }}">Create new</a>
{% endblock %}
