{% extends 'base.html.twig' %}

{% block title %}New FileImage
{% endblock %}

{% block body %}
	<h1>Create new FileImage</h1>
	{{ form_start(form) }}
	{# ... #}
	{{ form_row(form.image_upload) }}
	<button class="btn btn-success">Uploader</button>
	{{ form_end(form) }}

	{# {{ include('file_image/_form.html.twig') }} #}

	<a href="{{ path('app_file_image_index') }}">back to list</a>
{% endblock %}
