{% extends 'base.html.twig' %}

{% block title %}FileImage{% endblock %}

{% block body %}
    <h1>FileImage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ file_image.id }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ file_image.filename }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ file_image.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_file_image_index') }}">back to list</a>

    <a href="{{ path('app_file_image_edit', {'id': file_image.id}) }}">edit</a>

    {{ include('file_image/_delete_form.html.twig') }}
{% endblock %}
